* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	padding: 2rem;
	background-color: rgb(11, 36, 52);
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	height: 30rem;
	width: 100%;
	background-color: white;
	max-width: 50rem;
	border-radius: 10px;
}
